.header-logo-container {
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
  height: 69px !important;
}

.logo-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.header-logo-img {
  height: 32px;
  width: 222px;
  object-fit: contain;
}

@media (max-width: 600px) {
  .header-logo-container {
    box-shadow: none;
    height: 39px !important;
  }

  .logo-wrapper {
    width: 166px;
  }  

  .header-logo-img {
    height: 24px;
    width: 166px;
  }
}