.page-background-container {
  position: relative;
  z-index: -1;
}

.page-background-dark {
  background-color: rgb(34, 118, 227);
  position: absolute;
  transform: translate(50%);
  z-index: 2;
  border-radius: 50%;
  width: 69.375rem;
  height: 59.375rem;
  top: -33.125rem;
  left: -43.125rem;
}

.page-background-light {
  background-color: #d1e5ff;
  position: absolute;
  transform: translate(50%);
  border-radius: 50%;
  width: 73.125rem;
  height: 62.5rem;
  top: -36.25rem;
  left: -47.5rem;
}