.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
  margin: 0 auto;
  margin-top: 24px;
  width: 1200px;
  height: 200px;
  z-index: 10;
  flex: 1;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.tabContainer {
  background-color: #eaf5ff;
  border-radius: 8px 8px 0 0;
  padding: 10px 0 0;
  z-index: 10;
  flex: 1;
  display: flex;
}

.tab {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-right: 1px solid #d8d8d8;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.tab:last-child {
  border-right: 0;
}

.tab.active::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #2276E3;
  bottom: -9px;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
}

.icon {
  border-radius: 50%;
  flex-shrink: 0;
  height: 24px;
  margin-right: 10px;
  overflow: hidden;
  width: 24px;
}